body {
  background: rgb(186, 159, 196);
  background: linear-gradient(
    90deg,
    rgba(186, 159, 196, 1) 18%,
    rgba(135, 127, 222, 1) 35%,
    rgba(88, 151, 217, 1) 68%,
    rgba(223, 176, 227, 1) 79%
  );
}



header h1 {
  color: #fff;
}

#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}

.card {
  margin: 1rem;
}

.texto {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3rem;
}

